<h2>Brand List</h2>
<a href="/admin/brands/add">Add New Brand</a>
<table border="1">
    <tr>
        <th>Brand ID</th>
        <th>Brand Name</th>
        <th>Brand Details</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    <% if (brands && brands.length > 0) { %>
        <% brands.forEach(brand => { %>
            <tr>
                <td><%= brand.BrandId %></td>
                <td><%= brand.BrandName %></td>
                <td><%= brand.BrandDetails %></td>
                <td>
                    <% if (brand.Image) { %>
                        <img src="<%= brand.Image %>" width="100" alt="Brand Image">
                    <% } else { %>
                        No Image
                    <% } %>
                </td>
                <td>
                    <a href="/admin/brands/edit/<%= brand.BrandId %>">Edit</a> | 
                    <a href="" onclick="return confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
        <% }); %>
    <% } else { %>
        <tr>
            <td colspan="4">No brands found.</td>
        </tr>
    <% } %>
</table>
